.stack{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.textGroup {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 15px;
}