.fieldset {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--color-bg-secondary);
    border-radius: 6px;
}

.legend {
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    color: var(--color-text-secondary);
}

.customInput {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-family: var(--font-family-base);
  font-size: 16px;
  box-sizing: border-box;
}