h1 {
  font-size: 28px;
  line-height: 17px;
  font-family: var(--font-family-base);
  color: var(--color-text-primary);
  font-weight: 500;
}

h2 {
  font-size: 28px;
  line-height: 36px;
  font-family: var(--font-family-base);
  color: var(--color-text-primary);
  font-weight: 500;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  opacity: 0.6;
  color: var(--color-text-primary);
}
