.appLayout {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    /* background-color: red; */
    background-color: var(--color-bg-primary);
}