.settingsPage {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--color-bg-primary);
}

.header {
    background-color: var(--color-text-button);
    padding: 25px 20px 20px 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.profileBody {
    padding: 30px 20px;
}

.profileInfo {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    margin-bottom: 30px;
}

.profileName {
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    color: var(--color-text-primary);
    opacity: 1;
    text-transform: capitalize;
}

.profileEmail {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: var(--color-text-primary);
    opacity: 1;
}

.profileImage {
    position: relative;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    /* overflow: hidden; */
    background-color: #e5e7eb;
    flex-shrink: 0;
}

.profileImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.changePhoto {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 21px;
    height: 23px;
    border-radius: 50%;
    background-color: var(--color-text-secondary);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.profileDescription {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: var(--color-text-primary);
    opacity: 1;
    text-align: left;
    letter-spacing: 0px;
    text-transform: capitalize;
}